<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type=text/css>
        .plantContainer {
            padding: 10px;
        }
    </style>
    <title>BuyMyPlant</title>
</head>
<main style="display:flex; justify-content: center">
    <div style="display:flex; justify-content: center">


        <img src="Plants/plants/src/main/resources/static/img/Logo_ImgOnly.png" class="img align-self-center"
             alt="Responsive image"
             style="height: 150px">
        <img src="Plants/plants/src/main/resources/static/img/Logo_Text_Only.png" class="img align-self-center"
             alt="Responsive image"
             style="height: 150px">

    </div>
    <nav style="display:flex; justify-content: center">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Home</a>
            </li>
        </ul>
    </nav>

</main>

<body>
<div class="container" style="display:flex;flex-wrap: wrap">

    <div class="col-sm-4 col-md-4 col-lg-4 text-center plantContainer"> <!-- Plante -->
        <img src="Plants/plants/src/main/resources/static/img/PlantImg1-FiddleLeafFig.webp">
        <span>Ficus lyrata</span>
        <br>
        <span>Fiddle Leaf Fig</span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center plantContainer"> <!-- Plante -->
        <img src="Plants/plants/src/main/resources/static/img/PlantImg2-ChineseMoneyPlant.webp">
        <span>Pilea peperomiodes </span>
        <br>
        <span>Chinese Money Plant</span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center plantContainer"> <!-- Plante -->
        <img src="Plants/plants/src/main/resources/static/img/PlantImg3-SpiderPlant.webp">
        <span>Chlorophytum comosum</span>
        <br>
        <span>Spider Plant</span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center plantContainer"> <!-- Plante -->
        <img src="Plants/plants/src/main/resources/static/img/PlantImg1-FiddleLeafFig.webp">
        <span>Ficus lyrata</span>
        <br>
        <span>Fiddle Leaf Fig</span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center plantContainer"> <!-- Plante -->
        <img src="Plants/plants/src/main/resources/static/img/PlantImg2-ChineseMoneyPlant.webp">
        <span>Pilea peperomiodes </span>
        <br>
        <span>Chinese Money Plant</span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center plantContainer"> <!-- Plante -->
        <img src="Plants/plants/src/main/resources/static/img/PlantImg3-SpiderPlant.webp">
        <span>Chlorophytum comosum</span>
        <br>
        <span>Spider Plant</span>
    </div>


</div>
</body>

</html>