<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:welcome="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Plants | Home </title>
</head>

<header></header>

<body>
<main>
    <div class="card">
        <div class="card-body">
            <h4>Bienvenue sur le site</h4>
            <a class="active" href="/">Home</a>
        </div>
    </div>
    <table class="table" id="templatesList">
        <thead>
        <tr>
            <th>Plant Name</th>
            <th>Latin Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plant: ${plants}">
            <td th:text="${plant.name}"></td>
            <td th:text="${plant.latinName}"></td>
            <td th:text="${plant.description}"></td>
        </tr>
        </tbody>
    </table>


</main>
</body>


<footer id="footer"></footer>

</html>